<nav class="navbar navbar-expand-lg navbar-light container justify-content-between" style="background:rgba(255,255,255,0.51);">
  <img src="assets/img/welleastern_logo.svg">

  <!--<div class="collapse navbar-collapse" id="navbarToggler">-->
    <!--<ul class="navbar-nav ml-auto mt-2 mt-lg-0">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Reading Adventure</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Touch Stone</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Focus On Reading</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Joyful Reading</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <img src="assets/img/AdventureLogo.png" alt="adventure logo"
       class="nav_study_logo">

  <button class="nav-item navbar-button btn peach-gradient"
       id="show-sidebar">
      <i class="fas fa-bars"></i>
  </button>
</nav>

<div class="entire-bird-container">
  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>
  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>
</div>

