/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor:pointer;
}

.sheen_effect:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;

}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out
 */
.sheen_effect:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}



@media print{
  button{
    display:none !important;
  }
  h1, span, th{
    color:black !important;
  }
  * {
    font-weight:normal !important;
  }
  @page {
    margin-top: 1.6cm;
    margin-bottom: 1.2cm;
  }
}
